---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jul 08 2022')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	em.....我是一个普普通通成绩一般（指区前几名）的初中生😎，算是一个阳光开朗的梦想家。啥都想要，啥都想学，但既没有天赋，也喜欢摆烂的普通人🙄
	</p>
<p>👨‍💻兴趣爱好：</p>
        <ul>
                <li>👨‍💻编写<code>Python</code></li>
                <li>🏄‍♂️在互联网上冲浪</li>
                <li>🎮Minecraft我的世界（入正了，还开了私服）</li>
                <li>🖥折腾Windows和搞搞主机</li>
                <li>📡业余无线电</li>
                <li>🛠电子制作（💀bro拿过🥇省一）</li>
            </ul>
	<p>
		11
	</p>

	<p>
		2
	</p>

	<p>
		3
	</p>

	<p>
		4
	</p>
</Layout>
