---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🚀 LCRstem的个人博客 🔥</h1>
			<p>
				欢迎来到我，也就是LCRstem的<a href="https://blog.lcrstem.top/">博客</a>，我将在这里发布一些我自己总结或者想到的技术或操作等内容，当然可能（一定）会发一些生活类的内容
                
			</p>
			<p>
				你将可以从这里学到如何<code>create your websites</code> 制作你的网站等等
				虽然我认为我没有什么时间精力去每天打理这个blog，毕竟我还在上学🏴‍☠️
                                但至少还会抽空编辑发发文章滴.....
			</p>
			<p>如果你有什么建议的话你可以:</p>
			<ul>
				<li>写邮件到我的邮箱 <code>admin@lcrstem.top</code>上</li>
				<li>去我的github仓库 <code>blog.lcrstem.top</code>提issue</li>
				<li>去我的个人网站 <code>www.lcrstem.top</code>加我的QQ</li>
			</ul>
			<p>
				如果对你有帮助的话恳请您前往 <a https://raw.githubusercontent.com/LCRstem/lcrstem.github.io/refs/heads/main/static/img/wxzsm.jpg"
					>这里
				</a>支持一下我😁
			</p>

		</main>
		<Footer />
	</body>
</html>
