---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} LCRstem All rights reserved保留权利
	<div class="social-links">
		<a href="https://www.lcrstem.top/" target="_blank">
			<span class="sr-only">Go to LCRstem's website</span>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/mastodon"
				><path
					fill="currentColor"
					d="M12 2L2 10h2v10h6v-6h4v6h6V10h2L12 2z"
				></path></svg
			>
		</a>
		<a href="https://space.bilibili.com/3494352628222040" target="_blank">
			<span class="sr-only">Follow Astro on bilibili</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/twitter"
				><path
					fill="currentColor"
					d="M12.15 2.06a.83.83 0 0 1 0 1.18L11.39 4h.78A2.5 2.5 0 0 1 15 6.5v5a2.5 2.5 0 0 1-2.5 2.5h-8A2.5 2.5 0 0 1 2 11.5v-5A2.5 2.5 0 0 1 4.5 4h.78L3.85 3.24a.83.83 0 1 1 1.18-1.18l1.77 1.77c.05.05.1.11.13.17h2.14c.04-.06.08-.12.13-.17l1.77-1.77a.83.83 0 0 1 1.18 0zM12 5.5H4.5a.83.83 0 0 0-.83.77v5c0 .44.34.8.77.83h8.36a.83.83 0 0 0 .83-.83v-5c0-.46-.37-.83-.83-.83zm-6.67 3.33c.46 0 .83.37.83.83v.84a.83.83 0 1 1-1.66 0v-.84c0-.46.37-.83.83-.83zm5 0c.46 0 .83.37.83.83v.84a.83.83 0 1 1-1.66 0v-.84c0-.46.37-.83.83-.83z"
				></path></svg
			>
		</a>
		<a href="https://github.com/LCRstem" target="_blank">
			<span class="sr-only">Go to LCRstem's GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
